<div class="d-flex">
  <!-- Sidebar -->
  <div
    class="h-100 min-vh-100 bg-dark px-4 py-3 border-end shadow-lg"
    id="sidebar"
  >
    <h4 class="text-light h-100">GifsApp</h4>

    <hr class="text-white" />

    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action"> Dashbpard </a>
    </div>
  </div>
  <!-- End Sidebar -->

  <!-- Content -->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs..." />
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex natus
        eligendi obcaecati cumque delectus dignissimos, inventore aliquam
        veritatis amet enim exercitationem fugit officia impedit, a nam id culpa
        optio totam.
      </div>
    </div>
  </div>
  <!-- End Content -->
</div>
