<div class="d-flex">
  <app-sidebar></app-sidebar>

  <!-- Content -->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs..." />
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex natus
        eligendi obcaecati cumque delectus dignissimos, inventore aliquam
        veritatis amet enim exercitationem fugit officia impedit, a nam id culpa
        optio totam.
      </div>
    </div>
  </div>
  <!-- End Content -->
</div>
