<div class="container row mt-4">
    <div class="col-3">
        <h2>Búsquedas</h2>
        <hr>

        <ul class="list-group">
            <li class="list-group-item">Buscar país</li>
            <li class="list-group-item">Por país</li>
            <li class="list-group-item">Por capital</li>
        </ul>
    </div>

    <div class="col"> <!-- Este div ocuparía el tamaño restante (12 - 3 columnas) -->
        <router-outlet></router-outlet> <!-- Renderizar el componente en esta línea según las definiciones de rutas en app-routing.module.ts -->
        <hr>

        <app-por-capital></app-por-capital>
    </div>
</div>