<div
  class="h-100 min-vh-100 bg-dark px-4 py-3 border-end shadow-lg" id="sidebar"
>
  <h4 class="text-light">GifsApp</h4>

  <hr class="text-white" />

  <!-- <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action"> Dashboard </a>
  </div> -->

  <div class="list-group">    
    <a 
      *ngFor="let item of historial_busqueda;" 
      href="#" 
      class="list-group-item list-group-item-action">
      {{item | titlecase}} <!-- Con el pipe titlecase hacemos que los resultados se muestren capitalizados (aunque se estén almacenando en minúsculas -en el método buscarGifs del servicio-) -->
    </a>
  </div>
</div>
